.drag{
  background-color:orange;
  padding:10px;
  font-size: 16px;
  height: 200px;
  width: 200px !important;
  border: 10px solid transparent;
  background-clip: padding-box;
  text-align: center;
  vertical-align: center;
}

.dropelement{
  background-color:white;
  height: 250px;
  width: 250px;
  border: 10px solid transparent;
  background-clip: padding-box;
  padding: 10px;
}

.dropelementHome{
  background-color: #dbdcdd;
  height: 250px;
  width: 750px;
  border: 10px solid transparent;
  background-clip: padding-box;
  padding: 10px;
}

.wellTransparent {
  min-height: 20px;
  padding: 0 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}